<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07project"
        tools:targetApi="31">
        <!-- login and sign up -->
        <activity
            android:name=".LoginAndSignup.Admin_dashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignup.AdminRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignup.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignup.Student_dashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignup.StudentRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignup.MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignup.StudentLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- post checker -->
        <activity
            android:name=".postcheckerfixed.statMajor"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.statSpecial"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.statML2"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.statML"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.stat"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.mathSpecial2"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.mathMajor2"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.mathSpecial"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.mathMajor"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.math"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.csMinor"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.csMajor2"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.csMajor"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.csActivity"
            android:exported="false" />
        <activity
            android:name=".postcheckerfixed.CMSpostMain"
            android:exported="false" />
        <!-- complaint -->
        <activity
            android:name=".complaints_studentview.StudentComplaint"
            android:exported="false" />
        <activity
            android:name=".complaintsadminview.DetailedItemActivity"
            android:exported="false" />
        <activity
            android:name=".complaintsadminview.ComplaintAdminActivity"
            android:exported="false"/>
        <!-- admin event -->
        <activity
            android:name=".everntAdmin.EventAdminActivity"
            android:exported="false"/>
    </application>

</manifest>